
/* #grid-container {
    width: 90%;
    height: 20%;
    background-color: grey;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: grid;
    columns: auto;
} */

h1 {
    position: static;
    color: red;
    display: block;
    margin: 0 auto;
}

div {
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 0.8rem;
    text-align: center;
    display: block;
    margin: 0 auto;
}
  
td, th {
    border: 1px solid red;
    padding: 10px 20px;
}

td {
    text-align: center;
}

caption {
    padding: 10px;
}

