#background{
    width: 100%;
    height: 4300px;
    image-rendering: -webkit-optimize-contrast;
    background-image: url('https://img.freepik.com/free-photo/empty-light-concrete-wall-texture-background-old-grungy-texture-gray-concrete-wall-pattern-background_132482-2887.jpg?w=2000');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:100%
}